.boss-shape {
    background-image: url('./../images/Boss/boss0.webp');
}
.headbody {
    width: 360px;
    height: 380px;
    position: absolute;
    clip-path: polygon(0 0, 0 62%, 9% 65%, 16% 71%, 17% 76%, 20% 77%, 49% 90%, 80% 78%, 83% 76%, 84% 70%, 84% 69%, 100% 62%, 100% 0);
}

.right-arm {
    width: 100px;
    height: 130px;
    clip-path: polygon(59% 8%, 55% 26%, 24% 40%, 6% 62%, 1% 79%, 1% 97%, 38% 98%, 59% 100%, 85% 100%, 95% 86%, 100% 35%, 100% 25%, 94% 15%, 80% 3%);
    background-position: 120px -250px;
    animation: right_arm 2s infinite;
    transform-origin: right top;
    position:absolute;
    top:260px;
    left:255px;
}
.left-arm {
    width: 100px;
    height: 130px;
    clip-path: polygon(23% 0%, 0% 19%, 0% 42%, 6% 62%, 11% 79%, 14% 97%, 38% 98%, 59% 100%, 85% 100%, 95% 86%, 91% 65%, 75% 39%, 47% 25%, 43% 10%);
    background-position: -20px -250px;
    animation: left_arm 2s infinite;
    transform-origin: left top;
    position:absolute;
    top: 260px;
    left: 5px;
}

@keyframes left_arm {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
@keyframes right_arm {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}