*{
    margin: 0;
    padding: 0;
}

.container{
    /*1칸의 넓이는 150px */
    
    width: 600px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: black;
}
.slider-container > .img-slide{
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}
