*{
    margin: 0;
    padding: 0;
}

.container{
    /*1칸의 널이는 150px */
    
    width: 550px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.slider-container > .img-slide{
    display: block;
    width: 100%;
    
}

.slider-container{
    width: 100%;
    height: 100%;
    position: absolute;
}
.scroll > li {
    width: 100%;
    height: 100vh;
}
.scroll > li > img{
    width: 100%;
    height: 100%;
}