*{
    font-family: "Do Hyeon", sans-serif;
    font-style: normal;
    color: white;
}

.content-score{
    margin-left: 20px;
    width: 150px;
    height: 100px;
    float: left;
    position: relative;
}

.score{
    width: 150px;
    height: 50px;
    position: relative;
    line-height: 50px;
}

.score > img{
    display: block;
    float: left;
    width: 40px;
    /* 75 - 50 / 2 */
    margin-top: 5px;
}

.total-coin{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.total-score{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}


.distance{
    width: 180px;
    height: 50px;
    float: right;
    position: relative;
    text-align: right;
    font-size: 40px;
    margin-right: 20px;
    margin-top: 20px;
}

.heart{
    width: 150px;
    height: 56px;
    position: relative;
    top: 100%;
    transform: translateY(-70px);
    margin-left: 20px;
}

svg{
    display: block;
    margin: 2px;
    float: left;
    transform: translateY(-100px);
}
