.slider{
    width: 100%;
    height: 100%;
}

/*골드 div*/
.gold-div{
    width: 180px;
    height: 35px;
    margin-left: 20px;
    margin-top: 15px;
    z-index: 3;
    position: relative;
    float: left;
    background: linear-gradient(to right, rgba(0,0,0,0.6), rgba(255,255,255,0.6));
}

.gold-div > img{
    width: 35px;
    display: block;
    float: left;
    margin-right: 8px;
}

.gold-div > p{
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    color: white;
    letter-spacing: 3px;
}

/*캐릭터 슬라이더..*/
.slider-character{
    /* 550px * 3 */
    width: 300%;
    height: 550px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
}
/**캐릭터들...**/
.character{
    float: left;
    width: 550px;
    height: 550px;
    text-align: center;
}

.character > img{
    width: 550px;
    display: block;
    margin: 0 auto;
    animation: floationg 2.3s
    linear 0s
    infinite alternate;
}

/*이미지를 움직이기 위한 애니메이션..*/
@keyframes floationg {
    0% {
        margin-top: 0;
    }
    100%{
        margin-top: 30px;
    }
}

button{
    background-color: #f5c509;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: block;
    border: none;
    color: white;
}

.start-btn{
    width: 100px;
    height: 40px;
    float: right;
    position: relative;
    z-index: 30;
    margin-top: 15px;
    margin-right: 20px;
    border-radius: 20px;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 1px;
}

button:hover{
    cursor: pointer;
}

.character-stat{
    width: 500px;
    height: 200px;
    background-color: rgba(255,255,255,0.6);
    position: absolute;
    bottom: 0;
    transform: translate(25px, -15px);
    border-radius: 25px;
}

/*캐릭터 선택 버튼...*/
.select{
    position: absolute;
    border-radius: 10px;
    width: 130px;
    height: 45px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    letter-spacing: 2px;
}

/*왼쪽으로 이동 슬라이드 버튼..*/
.before-btn{
    width: 80px;
    height: 80px;
    font-size: 70px;
    position: absolute;
    /* (650-80) /2 650px 슬라이더 컨테이너 높이 80px 버튼 높이 <-- 즉 슬라이더 정중앙에 오게...*/
    transform: translateY(285px);
    background-color:transparent;
}

/* 오른쪽으로 이동 슬라이드 버튼... */
.next-btn{
    width: 80px;
    height: 80px;
    font-size: 70px;
    position: absolute;
    /* (650-80) /2 650px 슬라이더 컨테이너 높이 80px 버튼 높이 <-- 즉 슬라이더 정중앙에 오게...*/
    transform: translate(470px,285px);
    background-color:transparent;
}
.before-btn:hover, .next-btn:hover{
    color: red;
}

.stat{
    /* 총 높이 --> 85px */
    font-family: "Do Hyeon", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
    color: white;
    width: 550px;
    height: 50px;
    float: left;
    margin-top: 35px;
    line-height: 50px;
}

.stat > span {
    display: block;
    margin-left: 20px;
    width: 100px;
    float: left;
}

.stat-area{
    /* 영역-> 500px - 60px - 120px = 320px */
    width: 320px;
    height: 34px;
    float: left;
    /* 높이가 34px stat 높이가 50px  */
    margin-top: 8px;
}

.stat > button{
    display: block;
    margin-right: 20px;
    width: 40px;
    float: left;
    height: 40px;
    background-color: transparent;
    font-size: 27px;
    line-height: 50px;
}

.stat > button:hover{
    color: red;
}

.stat-level{
    width: 32.9%;
    height: 100%;
    float: left;
    border: 1px solid black;
}

.stat-level:first-child{
    /* 부모의 넓이--> 100% */
    /* stat-area 높이 너비 -> 510px 40px */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.stat-level:last-child{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.stat-level:nth-child(2){
    border-left: transparent;
    border-right: transparent;
}