#ingame_player {
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: block;
    position: absolute;
    left: 100px;
    top: 100px;
}
#cut1{
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: block;
    position: absolute;
    left: 100px;
    top: 100px;
}